.hoa{
    color:yellow;
}
h1{
    color:gold;
    background-color: blueviolet;
    text-align: center;
    border: 15px solid pink;
    padding: 18px;
    font-size:xx-large;
}
h3{
    color:blue;
}
h2{
    color:gold;
    background-color:black;
    text-align:center;
    border: :15px solid ;
    paddingg:17px;
    font-size::backdrop;
}
p{
    color:purple;
}
